body {
    background: 0 0;
    color: #37474f;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-size: 62.5%;
    width: 100%;
    font-family: source sans pro, sans-serif;
    overflow-x: hidden
}

img{
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

.greyboximg{
  background-color: #ebeef3;
}

#footergap{
    margin-bottom:600px;
}

#gap{
  margin-bottom: 800px;
}

h1 {
    font-size: 5em;
    z-index: 0;
    margin: 0 0 15px -5px;
    color: #161617;
    left: 0;
    line-height: 1
}

h2 {
    color: #37474f;
    font-size: 2em;
    font-weight: 300;
    position: relative
}

p {
  font-size: 2em;
  line-height: 1.25em;
}

.section-left{
    float:left;
    max-width:55%;
    padding-right:5%;
}

.aside-right{
    float:right;
    max-width:40%;
}

.aside img{
    height:70%;
    width:75%;
    border-radius: 5px;
}

.watchme{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
  background-image: url("../images/icons/watchMe.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


#contactbutton{
    color: black;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    line-height:  40px;
    display:inline-block;
    float:  none;
    text-align:  center;
    width:  180px;
    height:40px;
    padding: 0px 0px 0px 0px;
    font-size:  13px;
 }

#contactbutton:hover{
    border: 0px;
    color: #ffffff;
    background-color: #45dcba;
 }

 .circlebutton {
     border-radius: 5px;
     background-color: Transparent;
     cursor:pointer;
     overflow: hidden;
     outline:none;
     line-height:  40px;
     display:inline-block;
     float:  none;
     text-align:  center;
     width:  180px;
     height:40px;
     padding:  0px;
     font-size:  14px;
  }

 .circlebutton:hover  {
      color:  #797979;
      background:  rgba(255, 255, 255, 0.2);
  }

 #blackbutton{
         border:  2px solid #000000;
 }
 #whitebutton{
     color:white;
     border: 2px solid #ffffff;
 }

 ul {
   list-style: none;
   padding: 0px;
 }

 .right{
   float: right;
 }

 li {
   display: inline-block;
   padding-right: 10px;
 }

 a{
   color: #546e7a;
   text-decoration: none;
 }

 a:hover{
   color: #45dcba;
 }

 #dots{
    letter-spacing: 7.5px;
}
