.headera{
    text-decoration: none;
    color:#000000;
}
.headera:hover{
    color: #797979;
}
header{
    padding: 30px 20px;
    text-align:right;
    font-family: 'Montserrat', sans-serif;
}
body{
    list-style: none;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

    #w100{
        font-weight: 100;
    }
    #w200{
        font-weight: 200;
    }
    #w300{
        font-weight: 300;
    }
    #w400{
        font-weight: 400;
    }

#dots{
    letter-spacing: 7.5px;
}

.horozontal{
    background-color: #f2f2f2;
    padding:60px 0px; 
}
    ul{
        display:inline;
    }

#greyboximg{
    text-align:center;
    display:inline;
    max-height: 128px;
}

#contactimg{
    max-width:128px;
    max-height:128px;
}

.pagebreak{
    padding:40px 0px;
}

.pagebreak2{
    padding:80px 0px;
}

.circlebutton {
    border-radius: 10px;
    background-color: Transparent;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    line-height:  40px;
    display:inline-block;
    float:  none;
    text-align:  center;
    width:  180px;
    height:40px;
    padding:  0px;
    font-size:  14px;
 }

.circlebutton:hover  {
     color:  #797979;
     background:  rgba(255, 255, 255, 0.2);
 }

#blackbutton{
        border:  2px solid #000000;
}
#whitebutton{
    color:white;
    border: 2px solid #ffffff;
}
.clearfix{
    clear:both;
}

#inline{
        display:inline-block;
}
#projectbanner{
    border-radius: 7.5px;
    float:left;
    max-width;128px;
    max-height: 128px;
}

#projectlogo{
    float:left;
    max-height: 48px;
    max-width: 48px;
}

#projecttext{
    padding:10px 20px;
    float:left;
}

#projecttextOriginal{
float: left;
}

#projectsubtext{
    text-align: left;
    font-size: 10px;
}

.watchme{
    color: white;
    padding:100px 20px;
    background-image: url("/Pictures/watchme.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
