@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
  --light-grey: #f3f3f3;
  --medium-grey: #a7a7a9;
  --light-medium-grey: #d4cdcd;
  --light-medium-grey-2: #dddcdc;
  --grey: #424451;
}

/* Main Components */

body {
  margin: 0;
  font-family: "Source Sans Pro";
}

/* Dashboard CSS */

.dashboard {
  color: var(--grey);
  padding: 20px;
}

.dashboard * {
  margin: 12.5px 0px;
}

.dashboard h1 {
  font-size: 64px;
  font-weight: bold;
}

.dashboard h2 {
  font-size: 30px;
  font-weight: normal;
  color: var(--medium-grey);
}

.dashboard h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
}

.dashboard li {
  list-style: none;
}

.dashboard li * {
  color: var(--grey);
}

.todayNotes:nth-child(even) {
  background-color: var(--light-medium-grey);
}

.todayNotes:nth-child(odd) {
  background-color: var(--light-medium-grey-2);
}

/* End Of Dashboard */

.line-text {
  display: flex;
  align-items: center;
}

.line-text::after {
  content: "";
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background-color: var(--grey);
}

/* Adding Lines On Divs (Before & After) */

.line-box::before,
.line-box::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--grey);
  margin: 30px auto;
}

.flexbox {
  display: flex;
}

.flexbox > div {
  margin: 20px;
}

.side-bar {
  background-color: var(--light-grey);
  padding: 80px 40px;
  height: 100%;
}

.side-bar li {
  list-style-type: none;
}

.side-bar * {
  text-decoration: none;
  color: var(--grey);
}

/* Weather card */

.weather-card {
  display: flex;
  flex-direction: column;
}

.weather-card > div {
  /* border-color: pink;
  border-style: solid; */
  margin: 20px;
  /* height: 125px; */
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.weather-card h1 {
  font-size: 18pt;
}

.weather-card p {
  font-size: 10pt;
}

.box {
  padding: 15px;
  border-radius: 10px;
}

.grey {
  background-color: var(--light-grey);
}

.quickNote {
}

.toDoElement * {
  margin: 20px;
}

.toDoElement {
  margin: 20px 0px;
  background-color: var(--light-grey);
}

.toDoElement button {
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  background-color: var(--grey);
  color: white;
}

.toDoElement button:hover {
  background-color: var(--medium-grey);
}
